//! **************************************************************************
// Written by: Map P.20131013 on Sat Jan 22 00:44:18 2022
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

